<div class="p-4 md:p-6">
  <section hlmCard>
    <div hlmCardHeader>
      <!--#if (IncludeLocalization)-->
      <h2 hlmCardTitle class="text-2xl">{{ 'workspace.dashboard.title' | transloco }}</h2>
      <!--#else-->
      <h2 hlmCardTitle class="text-2xl">Workspace</h2>
      <!--#endif-->
    </div>
    <div hlmCardContent>
      @if (authService.currentUser(); as user) {
        <div class="space-y-3">
          <div class="flex items-center gap-3">
            <!--#if (IncludeLocalization)-->
            <span class="text-muted-foreground w-20">{{
              'workspace.dashboard.username' | transloco
            }}</span>
            <!--#else-->
            <span class="text-muted-foreground w-20">Username</span>
            <!--#endif-->
            <span class="font-medium">{{ user.username }}</span>
          </div>
          <div class="flex items-center gap-3">
            <!--#if (IncludeLocalization)-->
            <span class="text-muted-foreground w-20">{{
              'workspace.dashboard.displayName' | transloco
            }}</span>
            <!--#else-->
            <span class="text-muted-foreground w-20">DisplayName</span>
            <!--#endif-->
            <span class="font-medium">{{ user.displayName || '-' }}</span>
          </div>
          <div class="flex items-center gap-3">
            <!--#if (IncludeLocalization)-->
            <span class="text-muted-foreground w-20">{{
              'workspace.dashboard.email' | transloco
            }}</span>
            <!--#else-->
            <span class="text-muted-foreground w-20">Email</span>
            <!--#endif-->
            <span class="font-medium">{{ user.email || '-' }}</span>
          </div>
          <!--#if (LocalAuthorization)-->
          <div class="flex items-center gap-3">
            <!--#if (IncludeLocalization)-->
            <span class="text-muted-foreground w-20">{{
              'workspace.dashboard.roles' | transloco
            }}</span>
            <!--#else-->
            <span class="text-muted-foreground w-20">Roles</span>
            <!--#endif-->

            <div class="flex gap-1">
              @for (role of user.roles; track role) {
                <!--#if (IncludeLocalization)-->
                <span hlmBadge variant="secondary">{{ role }}</span>
                <!--#else-->
                <span hlmBadge variant="secondary">{{ role }}</span>
                <!--#endif-->
              }
            </div>
          </div>
          <!--#endif-->
        </div>
      } @else {
        <!--#if (IncludeLocalization)-->
        <p class="text-muted-foreground">{{ 'workspace.dashboard.noUserInfo' | transloco }}</p>
        <!--#else-->
        <p class="text-muted-foreground">No user information available</p>
        <!--#endif-->
      }
    </div>
  </section>
</div>
