<div class="p-4 md:p-6">
  <p-card>
    <ng-template pTemplate="header">
      <div class="px-6 pt-6">
        <!--#if (IncludeLocalization)-->
        <h2 class="text-2xl font-bold m-0 text-color">
          {{ 'workspace.dashboard.title' | transloco }}
        </h2>
        <!--#else-->
        <h2 class="text-2xl font-bold m-0 text-color">Workspace</h2>
        <!--#endif-->
      </div>
    </ng-template>
    <div class="px-6 pb-6">
      @if (authService.currentUser(); as user) {
        <div class="space-y-3">
          <div class="flex items-center gap-3">
            <!--#if (IncludeLocalization)-->
            <span class="text-muted-color w-20">{{
              'workspace.dashboard.username' | transloco
            }}</span>
            <!--#else-->
            <span class="text-muted-color w-20">Username</span>
            <!--#endif-->
            <span class="font-medium text-color">{{ user.username }}</span>
          </div>
          <div class="flex items-center gap-3">
            <!--#if (IncludeLocalization)-->
            <span class="text-muted-color w-20">{{
              'workspace.dashboard.nickname' | transloco
            }}</span>
            <!--#else-->
            <span class="text-muted-color w-20">Nickname</span>
            <!--#endif-->
            <span class="font-medium text-color">{{ user.nickname || '-' }}</span>
          </div>
          <div class="flex items-center gap-3">
            <!--#if (IncludeLocalization)-->
            <span class="text-muted-color w-20">{{ 'workspace.dashboard.email' | transloco }}</span>
            <!--#else-->
            <span class="text-muted-color w-20">Email</span>
            <!--#endif-->
            <span class="font-medium text-color">{{ user.email || '-' }}</span>
          </div>
          <div class="flex items-center gap-3">
            <!--#if (IncludeLocalization)-->
            <span class="text-muted-color w-20">{{ 'workspace.dashboard.roles' | transloco }}</span>
            <!--#else-->
            <span class="text-muted-color w-20">Roles</span>
            <!--#endif-->

            <div class="flex gap-1">
              @for (role of user.roles; track role) {
                <!--#if (IncludeLocalization)-->
                <p-tag [value]="role | roleLabel | transloco" severity="info" />
                <!--#else-->
                <p-tag [value]="role | roleLabel" severity="info" />
                <!--#endif-->
              }
            </div>
          </div>
        </div>
      } @else {
        <!--#if (IncludeLocalization)-->
        <p class="text-muted-color">{{ 'workspace.dashboard.noUserInfo' | transloco }}</p>
        <!--#else-->
        <p class="text-muted-color">No user information available</p>
        <!--#endif-->
      }
    </div>
  </p-card>
</div>
