<div class="p-4 md:p-6">
  <section hlmCard>
    <div hlmCardHeader>
      <!--#if (IncludeLocalization)-->
      <h2 hlmCardTitle class="text-2xl">{{ 'platform.dashboard.welcome' | transloco }}</h2>
      <!--#else-->
      <h2 hlmCardTitle class="text-2xl">Welcome to the Admin Console</h2>
      <!--#endif-->
      <p hlmCardDescription>
        @if (authService.currentUser(); as user) {
          <!--#if (IncludeLocalization)-->
          {{
            'platform.dashboard.currentUser'
              | transloco: { name: user.displayName || user.username }
          }}
          <!--#else-->
          Currently signed in as: {{ user.displayName || user.username }}
          <!--#endif-->
        }
      </p>
    </div>
    <div hlmCardContent>
      <!--#if (IncludeLocalization)-->
      <p class="text-muted-foreground">{{ 'platform.dashboard.intro' | transloco }}</p>
      <!--#else-->
      <p class="text-muted-foreground">
        This is a starter template project. You can manage users under "User Management" and extend
        more feature modules from the left-hand menu.
      </p>
      <!--#endif-->
    </div>
  </section>
</div>
